KLIPPER_ARGS="/home/{{ klipper_user }}/klipper/klippy/klippy.py /home/{{ klipper_user }}/printer_data/config/printer.cfg -l /home/{{ klipper_user }}/printer_data/logs/klippy.log -I /home/{{ klipper_user }}/printer_data/comms/klippy.serial -a /home/{{ klipper_user }}/printer_data/comms/klippy.sock"